<% @images.each do |image| %>
   <div class="image" style="
     width: <%= image.width %>px;
     height: <%= image.height %>px;
     position: absolute;
     left: <%= image.left %>px;
     top: <%= image.top %>px;">
     <img src="/images/<%= image.page %>/<%= image.filename %>" />
   </div>
 <% end %>
