<% @elements.each do |element| %>
  <div class="element" id="element_<%= element.id %>" style="
    width: <%= element.width %>px;
    height: <%= element.height %>px;
    position: absolute;
    left: <%= element.left %>px;
    top: <%= element.top %>px;">
    <%= element.display_html %>
  </div>
<% end %>
